<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<p>
  <strong>Author:</strong>
  <%= @post.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
<div>
  <img src='<%= @post.image %>' width='200px'/>
</div>
<p>
  <strong>Description:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<div>
  <% @comments.each do |c| %>
    <div>
      <blockquote>
        <p><%= c.body %></p>
        <small><%= c.created_at.strftime('%d.%m.%y') %></small>
      </blockquote>
    </div>
  <% end %>
</div>

<%= form_for(@comment) do |f| %>
  <%= f.text_area :body, rows: 5, placeholder: 'Comment text' %>
  <div>
    <%= f.submit 'Post it!', class: 'btn' %>
  </div>
<% end %>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path  %>


