<!DOCTYPE html>
<html>
  <head>
    <title>GeekhubZhBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <p class="h5 my-0 me-md-auto fw-bold">Blog</p>
    <nav class="my-2 my-md-0 me-md-3">
      <span class="p-2 text-dark"><%= link_to "My Blog", new_post_path %></span>
      <span class="p-2 text-dark"><%= link_to "New Post", new_post_path %></span>
    <a class="btn btn-outline-primary" href="#">Sign up</a>
  </header>
    <%= yield %>
  </body>
</html>
